.encabezado {
    text-align: center;
    color: #F4F8FF;
    padding: 20px;
    background-color:#2D7CE6;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4B94F7, #000e61);
}

.imgLog {
    position: absolute;
    left: 20px;
    height: 45px;
    vertical-align: middle;
}

.container {
    padding: 0.1px;
    font-family:'poppins';
}

#navvar {
    font-family: 'Poppins', sans-serif !important;
    background-color: white;
}

#izq {
    padding-left: 600px;
    padding-right: 100px;
    padding-top: 150px;
    font-family: 'poppins';
    color: #444444;
    margin-left: 100px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

#Lista {
    font-family: 'poppins';
    color: #444444;
    margin-left: 100px;
    margin-top: 140px;
    width: 1100px;
}

#ListaAl {
    width: 1000px;
    font-family: 'poppins';
    color: #444444;
    margin-left: 140px;
    margin-top: 25px;
}

#Editar{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);  
}

#add{
    font-family: 'poppins';
    background-color:#86c3ec;
    color:white;
    width: 17%;
    padding: 4px;
    margin-left: 530px;
    margin-top: 65px;
}

#gest {
    padding: 0.1px;
    font-family:'poppins';
    padding: 4px;
    margin-left: 550px;
    margin-top: 180px;
    width: 50%;
}

#hh{
    margin-left: 160px;
    margin-top: 84px;
    width: 50%;
    color: #444444;
}

#perfil{
    margin-top: -49px;
    margin-left: 90px;
    
}