.encabezado {
    text-align: center;
    color: #F4F8FF;
    padding: 20px;
    background-color:#2D7CE6;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4B94F7, #000e61);
}

.container {
    padding: 0.1px;
}

#navvar {
    font-family: 'Poppins', sans-serif !important;
    background-color: white;
}

#izq {
    padding-left: 600px;
    padding-right: 100px;
    padding-top: 150px;
    font-family: 'poppins';
    color: #444444;
    margin-left: 100px;
}

button  {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

body {
    background-image: url("../img/foto.png");
  }

#Lista {
    width: 700px;
    padding-left: 700px;
    font-family: 'poppins';
    color: #444444;
    margin-left: 500px;
    margin-top: 70px;
}

#ListaAl {
    width: 1000px;
    font-family: 'poppins';
    color: #444444;
    margin-left: 140px;
    margin-top: 140px;
}

#Editar{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);  
}




